#title_nav {
    width: 100%;
}

#title_nav ul {
    margin-top: 50px;

    /*Gradient*/
    background: rgba(64,61,64,1);
    background: -moz-linear-gradient(top, rgba(64,61,64,1) 0%, rgba(209,209,209,1) 56%, rgba(219,219,219,1) 63%, rgba(232,229,232,1) 76%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,61,64,1)), color-stop(56%, rgba(209,209,209,1)), color-stop(63%, rgba(219,219,219,1)), color-stop(76%, rgba(232,229,232,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(top, rgba(64,61,64,1) 0%, rgba(209,209,209,1) 56%, rgba(219,219,219,1) 63%, rgba(232,229,232,1) 76%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(top, rgba(64,61,64,1) 0%, rgba(209,209,209,1) 56%, rgba(219,219,219,1) 63%, rgba(232,229,232,1) 76%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(top, rgba(64,61,64,1) 0%, rgba(209,209,209,1) 56%, rgba(219,219,219,1) 63%, rgba(232,229,232,1) 76%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to bottom, rgba(64,61,64,1) 0%, rgba(209,209,209,1) 56%, rgba(219,219,219,1) 63%, rgba(232,229,232,1) 76%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#403d40', endColorstr='#fefefe', GradientType=0 );

    /*Navbar shadow*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



    list-style: none;
    padding: 1em 0;    /* padding above and below li elements */
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    text-align: center;
}

#title_nav li {
    display: inline;
    padding: 0 1.5em;
    border-left: 2px solid black;
    border-right: 2px solid black; 
}

#title_nav a {
    font-weight: bold;
    color: black; 
    text-decoration: none;
}

#title_nav a:hover { color: white; }

header img {
    float: left;
    margin-right: 10px;
    border: double;
}

h1 {
	color: white;
	font-family: sans-serif;
	font-style: oblique;
	font-size: 50px;
    padding-bottom: 25px;
}

body {
	background-color: gray; 
	width: 700px;
	margin: auto;
    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, 
    rgba(89,89,89,1) 12%, rgba(44,44,44,1) 18%, rgba(71,71,71,1) 35%, 
    rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, 
    rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, right top, 
    color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), 
    color-stop(18%, rgba(44,44,44,1)), color-stop(35%, rgba(71,71,71,1)), 
    color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), 
    color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), 
    color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, 
    rgba(89,89,89,1) 12%, rgba(44,44,44,1) 18%, rgba(71,71,71,1) 35%, 
    rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, 
    rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, 
    rgba(89,89,89,1) 12%, rgba(44,44,44,1) 18%, rgba(71,71,71,1) 35%, 
    rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, 
    rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, 
    rgba(44,44,44,1) 18%, rgba(71,71,71,1) 35%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, 
    rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, 
    rgba(44,44,44,1) 18%, rgba(71,71,71,1) 35%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, 
    rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', 
    endColorstr='#131313', GradientType=00001 );
    color: white;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#floatright {
    display: block;
    float: right;
}

#reduced-gap {
    margin-bottom: 0px;
}

#vidcenter {
    display: block;
    margin: 0 auto;
    background-color: rgba(25,0,0,0.5);
}

.rounded-red {
    border-radius: 25px;
    padding: 20px;
    background-color: rgba(255,0,0,0.5);
    margin-bottom: 20px;
}

.aboutme {
	background-image: url(../img/batsy_harley.jpg);
    /*background-position: center;*/
    padding: 20px;
}